.carousel-item{
    p:nth-child(1){
        font-family: Courier Prime;
        @include font-size(20px, 30px);
        color: $colorBlack50;
    }
    
    // div:nth-child(1){
    //     margin-right: 30px;
    // }
    div:nth-child(2){
        p{
            @include font-size(14px, 26px);
            color: $colorBlack50;
            font-weight: bold;
        }
    }
    h5{
        color: $colorBlack80 !important;
        text-transform: capitalize;
        font-weight: bold !important;
        margin-bottom: 0 !important;
    }
}
.v-responsive__content{
    margin: auto;
}
.review{
    .v-btn--round {
        background-color: #f9f4f0;
        border-radius: 0 !important;
    }
}

@include res_320{
    .carousel-item{
        p:nth-child(1){
            @include font-size(12px, 26px);
            text-align: justify !important;
        }
    }
}