.footer{
    background-color: $colorpurple90;
    .navbar-brand{
        color: #fff;
        @include font-size(30px !important, 36px !important);
    } 
    &-title{
        font-family: Courier Prime;
        @include font-size(16px, 26px);
        color: #FFFFFF;
    }
    &-link{
        margin-top: 32px;
        list-style-type: none;
    }
    a{
        color: #fff;
        font-family: Courier Prime;
        @include font-size(18px, 26px);
        align-items: center;
    }
    &-follow{
        &__icon{
            @include width-height(30px, 30px);
            background-color: $colorwhilelight;
            border-radius: 50%;
            
            i{
                color: $colorpurplelight;
                @include font-size(14px, 30px);
                text-align: center;
                width: 100%;
            }
            :hover{
                border-radius: 50%;
                height: 100%;
                background-color: $colorpurple;
                i{
                    color: $colorOrangeYellow;
                }
                
            }
        }
        &__name{
            margin-left: 25px;
        }
        .rounded{
            @include width-height(35px, 35px);
            background-color: $colorpurple;
            transition: 0.3s ease;
            &:hover{
                margin-top: -5px;
            }
            &:nth-child(2){
                background-color: $colorlightblue;
            }
            &:nth-child(3){
                background-color: $colorred;
            }
            &:nth-child(4){
                background-color: $colorreddark;
            }
            &:nth-child(5){
                background-color: $colorblue;
            }
            i{
                @include font-size(16px, 35px);
                text-align: center;
                width: 100%;
            }
            
        }
    }
    
}
.bv-example-row{
    padding: 50px 0 150px !important;
}
