nav{
    position: fixed !important;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
#nav-collapse{
    justify-content: flex-end;
}
.bg-charcoal{
    background-color: $colorpurple !important;
}
.navbar{
    padding: 0 !important;
    height: 100px;
    &-brand{
        @include font-size(36px !important, 58px !important);
        font-weight: bold;
        font-family: Mogra !important;
        text-transform: uppercase;
        text-decoration: underline !important;
        padding: 0 !important;
        &:hover{
            text-decoration: underline !important;
        }
    }

    ul{
        display: inline-flex;
        list-style-type: none;
    }
    li{
        font-family: Open Sans;
        font-weight: bold;
        @include font-size(18px, 28px);
        text-transform: uppercase;
        padding: 0 15px;
        a{
            color: #fff;
            &:hover{
                color: cornflowerblue;
            }
        }
    }
}

// ===============respo================

@include res_320{
    .navbar{
        height: auto;
        .container{
            width: 80%;
        }
        &-brand{
            font-size: 21px !important;
        }
    }
}
@include res_600{
    .navbar{
        max-width: 600px !important;
        height: 70px;
        &-brand{
            font-size: 25px !important;
        }
        .container{
            max-width: 100% !important;
            width: auto;
            width: 80%;
        }
    }
    
}
@include res_960{
    .navbar-brand {
        font-size: 30px !important;
    }
}
@include res_1264{
    
}

