.bg-page{
    background-color: $colorBg;
}
.bg-white{
    background-color: #fff;
}
.bg-f6{
    background-color: $colorBg_f6;
}
.bg-fb{
    background-color: #F6F7Fb;
}
.bg-login{
    background-color: #EEF0F8;
}
.text-justify{
    text-align: justify !important;
}
.position-relative{
    position: relative !important;
}
.position-absolute{
    position: absolute !important;
}
.w-20{
    width: 20%;
}
.w-25{
    width: 25%;
}
.w-75{
    width: 75%;
}
.w-50{
    width: 50%;
}
.h-100{
    height: 100%;
}
h2{
    font-family: Courier Prime;
    font-weight: bold !important;
    @include font-size(64px !important, 72px !important);
    text-align: center;
    text-transform: capitalize;
    color: $colorDark;
}
h3{
    font-family: Courier Prime;
    font-weight: bold !important;
    @include font-size(36px !important, 40px !important);
    align-items: center;
    text-transform: capitalize;
    color: #000;
}
h4{
    font-family: Courier Prime;
    font-weight: bold !important;
    @include font-size(26px !important, 28px !important);
    text-transform: capitalize;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    color: #fff;    
    max-width: 174px;
}
h5{
    font-family: Open Sans;
    font-weight: 700 !important;
    @include font-size(24px !important, 33px !important);
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 58px !important;
}
h6{
    // font-family: Open Sans;
    font-weight: bold !important;
    @include font-size(22px !important, 30px !important);
    text-transform: capitalize;
    color: $colorBlack70;
    margin-top: 13px !important;
}

.w-75{
    width: 75%;
}

@include res_320{
 h2{
    @include font-size(28px !important, 40px !important);
    // padding: 0 20px;
 }
 h3{
    font-size: 25px !important;
    padding: 0 20px;
 }
 h4{
    font-size: 22px !important;
 }
 h5{
    font-size: 20px !important;
 }
 h5{
    font-size: 18px !important;
 }
 h6{
     font-size: 16px !important;
 }
}
@include res_600{
    h2{
        @include font-size(35px !important, 50px !important);
        padding: 0 20px;
    }
    h3{
        font-size: 30px !important;
    }
    h6{
        font-size: 15px !important;
    }
}
@include res_960{
    h2{
        font-size: 50px !important;
    }
    h3{
        font-size: 30px !important;
    }
    h5{
        font-size: 22px !important;
    }
}
@include res_1264{
    
}