a{
    text-decoration: none !important;
}
a:hover{
    text-decoration: none !important;
    cursor: pointer;
}
ul, p, h2, h3, h4, h5, h6{
    margin-bottom: 0 !important;
}
ul{
    padding-left: 0 !important;
    list-style-type: none;
}
img{
    max-width: 100%;
    height: auto;
    width: 100%;
}

