*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@490;500;600;700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Mogra&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.container{
    padding: 0 !important;
}

.zoom{
    overflow: hidden;
    display: block;
}
.zoom img,
.zoom div{
    transition: .5s ease;
    &:hover{
        cursor: pointer;
        transform: scale(1.3);
    }
}

//mixin
@mixin d-flex {
    display: flex;
    justify-content: space-between;
}
@mixin max-width-height($width, $height) {
    max-width: $width;
    max-height: $height;
}
@mixin width-height($width, $height) {
    width: $width;
    height: $height;
}
@mixin font-size($size, $line) {
    font-size: $size;
    line-height: $line;
}
//color

$colorBlack80: rgba(0, 0, 0, 0.8);
$colorBlack70: rgba(0, 0, 0, 0.7);
$colorBlack60: rgba(0, 0, 0, 0.6);
$colorBlack50: rgba(0, 0, 0, 0.5);
$colorpurple: #6078AB;
$colorpurple90: #7786A7E5;
$colorpurplelight: rgba(96, 120, 171, 0.5);
$colorwhilelight: #E5E5E5;
$colorlightblue:#78E4F2;
$colorblue:#3C90B8;
$colorBlueSky: #47A0FF;
$colorred: #E26D5F;
$colorreddark: #D14D54;
$colorPink: #DD8E99;
$colorBg: #F9F4F0;
$colorBg_f6: #f6f6f6;
$colorOrangeYellow: #F8A323;
$colorOrange: #E88750;
$colorDark: #3C3737;


$res_320 : "only screen and (max-width: 320px)";
$res_600 : "only screen and (min-width: 321px) and (max-width: 600px)";
$res_960 : "only screen and (min-width: 601px) and (max-width: 960px)";
$res_1264 : "only screen and (min-width: 961px) and (max-width: 1264px)";
$res_1440 : "only screen (min-width: 1264px)";

@mixin res_320() {
    @media #{$res_320} {
        @content;
    }
}
@mixin res_600() {
    @media #{$res_600} {
        @content;
    }
}
@mixin res_960() {
    @media #{$res_960} {
        @content;
    }
}
@mixin res_1264() {
    @media #{$res_1264} {
        @content;
    }
}
@mixin res_1440() {
    @media #{$res_1440} {
        @content;
    }
}





// @include res_320{

// }
// @include res_600{
    
// }
// @include res_960{
    
// }
// @include res_1264{
    
// }

